<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels in California</title>
</head>
<body>
    {{range .}}
        {{.Name}} - {{.Location.City}} - {{.Location.Zip}} - {{.Location.Region}}
    {{end}}
</body>
</html>
