<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

    <ul> Fall Semester</ul>
    <li>Academic Year: {{.AcaYear}}</li>
    <li>Semester: {{.Fall.Term}}</li>
        {{range .Fall.Courses}}
        <li>Courses Details: {{.Number}} - {{.Name}} - {{.Units}}</li>
        {{end}}


    <ul> Spring Semester</ul>
    <li>Academic Year: {{.AcaYear}}</li>
    <li>Semester: {{.Spring.Term}}</li>
    {{range .Spring.Courses}}
        <li>Courses Details: {{.Number}} - {{.Name}} - {{.Units}}</li>
    {{end}}


{{end}}

</body>
</html>